.Rproj.user
.Rhistory
.Ruserdata

results/*

plots/*

data/spatial/bathy.RData

data/spatial/FAO_AREAS.cst
data/spatial/FAO_AREAS.dbf
data/spatial/FAO_AREAS.prj
data/spatial/FAO_AREAS.shp
data/spatial/FAO_AREAS.shx
data/spatial/FAO_AREAS.zip
